@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "Breathing";
  src: url("./Fonts/Breathing.ttf") format("truetype");
}

.ProductsTitle{
  justify-self: center;
  display: flex;
  width: 100%;
  flex-direction: row;
  height: fit-content;
  padding-bottom: 5px;
  padding-top: 5%;
}

/* Hide the top banner */
.goog-te-banner-frame.skiptranslate {
  display: none !important;
}
body {
  top: 0px !important;
}

/* Hide the Google Translate logo (optional) */
.goog-logo-link {
  display: none !important;
}

/* Hide the "Powered by Google" */
.goog-te-gadget span {
  display: none !important;
}

