
.display-section{
    display: flex;
    flex-direction: row;
}
.category-layout{
    width: 20%;
    background-color: rgb(240, 240, 240);
    border-radius: 15px;
}


.category-list{
        display: flex;
        flex-direction: column;
        overflow-x: auto;
        scroll-behavior: smooth;
        scrollbar-width: none;
        justify-content: space-between;
        gap: 5px;
        width: 100%;
        margin-top: 10px;
        padding: 0 10px;
}
.categories-controllbox{
    margin: 10px;
    height: 190px;
    min-width: 190px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  
  .categories-controllbox h4 {
    padding-top: 10px;
    font-size: 1.2rem;
    text-align: center;
  }

.image-circle {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 1px solid rgb(121, 121, 121);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .image-circle img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .product-layout{
    width: 80%;
  }

.filter-layout .search{
    padding: 10px 15px;
    width: 60%;
    border-radius: 25px;
    margin: 10px;
}



.active{
   color: rgb(0,150,50);
   
}
.pricef{
  margin-right: 5px;
  padding: 5px 8px;
  text-align: center;
}