.nav-link {
    color: black;  /* Set text color to black */
    text-decoration: none; /* Remove underline */
    font-weight:400; /* Optional: Make it bold */
  }
  
  .nav-link:hover {
    color: #555; /* Slightly darker color on hover */
  }

  .logout-btn{
    border: none;
    background: none;
    color: black;
  }

  .translate-widget {
  border: none;
  font-size: 14px;
  margin-right: 10px;
  color: #333;
  border-radius: 50%;
}

